<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>
		
		<h1>Adicionar notícia</h1>
		<br />

		<% if(validacao) { %>
		<ul>
			<% for(var i = 0; i < validacao.length; i++) { %>
				<li>
					<%= validacao[i].msg %>
				</li>
			<% } %>
		</ul>
		<% } %>

		<form action="/noticias/salvar" method="post">
			<label>Titulo</label>
			<input type="text" id="titulo" name="titulo" value="<%=noticias.titulo %>" placeholder="Titulo da noticia"/>
			<br />
			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" value="<%=noticias.resumo %>" placeholder="Resumo da noticia"/>
			<br />
			<label>Nome do autor</label>
			<input type="text" id="autor" name="autor" value="<%=noticias.autor %>" placeholder="Nome do autor"/>
			<br />
			<label>Data da noticia</label>
			<input type="text" id="data_noticia" name="data_noticia" value="<%=noticias.data_noticia %>" placeholder="Data"/>
			<br />
			<label>Notícia</label>
			<br />
			<textarea id="noticias" name="noticias" rows="5" cols="30"><%=noticias.resumo %></textarea>
			<br />
			<input type="submit" value="Enviar" />
		</form>

	</body>
</html>